/*INFO3130-Section1-Assignment 1
 * This assignment is for Alisha Huang Portfolio
 * 
 * Revision History
 *      Alisha Huang, 2021,09,17: Created
        Alisha Huang, 2021,10,04: Modified
 */


/*
Font download from <a href="https://allfont.net/download/agency-fb/">all font.net</a>is licensed by CC BY 3.0
Free for Personal Use
*/
@font-face {
    font-family: Agency FB;
    src: local("Agency FB"),
        url(../fonts/AGENCYB.TTF);
}

/*
Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0.
Free for Personal Use
*/
@font-face {font-family: Segoe Script; 
    src: local("Segoe Script"); 
    src: url(../fonts/Segoe_Script.ttf);
}

/*
Font download from <a href="https://freefontsfamily.com/segoe-ui-font-free/">free fonts family</a>is licensed by CC BY 3.0
Free for Personal Use
*/
@font-face {font-family: Segoe UI; 
    src: local("Segoe UI"); 
    src: url(../fonts/SEGOEUI.TTF);
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: "Mamelon", "Agency FB","Segoe UI", "Helvetica Neue", Arial, sans-serif;	
    font-size: 1.2em;
    text-align: center;
	color: #000000;
    width: 100%;
    height: 100vh;
}

*{
	margin: 0;
	padding: 0;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: white;
    width: 100%;
    z-index: 999;
}

#ahHome{
    display: flex;
}

header img {
    float: left;
    margin-right: 0.5em;
    display: flex;
    justify-content: flex-start;
}

.navigation{
    display: flex;
    overflow: hidden;
    padding-right: 50px;
    justify-content: flex-end;
}

.navigation li{
    font-family: "Agency FB", "Mamelon", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: none;
    margin: 10px;
    transition: .5s;
    text-transform: uppercase;
}

.navigation li:hover{
    -moz-box-shadow: 0 0 30px #DFC5AE;
    -webkit-box-shadow: 0 0 30px #DFC5AE;
    box-shadow: 0 0 30px #DFC5AE;
    border-radius: 50%;
    font-size: large;
}


.navigation li a, header a{
    color: #484848;
    text-decoration: none;
    font-size: 1.35em;
    font-weight: bold;
}

/*Cover Page*/

.coverPageContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: min-content;
    width: 100%;
}

#ahLogo{
    padding-bottom: 1em;
    grid-column:  3/4;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
}

#greyBoxForHome{
    height:max-content;
    background-color: #605F5F;
    color: white;
    grid-column: 1 / 6;
}

#greyBoxForHome h1{
    font-family: "Segoe Script", "Agency FB", "Mamelon", "Segoe UI","Helvetica Neue", Arial, sans-serif;
    font-size: 2.5em;
    padding: 0.2em;
    margin-top: .4em;
}

#greyBoxForHome h2{
    font-size: 2.2em;
    margin-bottom: .4em;
}

/*About Page*/
#about{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    height: min-content;
    width: 100%;
}

.introductionBox {
    margin-top: 2em;
    background-color: #C7C7C7;
    color: #484848;
    grid-column: 1/6;
    grid-row: 1/2;
}

.introductionBox h2{
    font-size: 1.9em;
    padding-top: 2em;
    padding-left: 3em;
    text-align: left;
}
.introductionBox p{
    font-size: 1.25em;
    padding-top: .5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
    text-align: left;
}

.skill-1{
    grid-column: 1 / 3;
    grid-row: 2/3;
}

.skill-2{
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 1em;
}

.skill-3{
    grid-column: 4/6;
    grid-row: 2/3;
    padding-top: 1em;
}

.backColorWhite{
    background-color: white;
    color: #484848;
}

.skill-1 h2{
    font-size: 2.2em;
    padding-top: 2em;
    padding-left: 3em;
    text-align: left;
}

.skill-2 li, .skill-3 li{
    list-style: none;
    margin: 10px;
    font-size: 1.4em;
}


.color-interest{
    background-color: #F2D7CC;
    color: #484848;
}

.interest-1{
    grid-column: 1/3;
    grid-row: 3/4;
}

.interest-2{
    grid-column: 1/2;
    grid-row: 4/5;
}

.interest-3{
    grid-column: 2/3;
    grid-row: 4/5;
}

.interest-1 h2{
    font-size: 2.2em;
    padding-top: .5em;
    padding-left: 1.5em;
    text-align: left;
}

.interest-3 li, .interest-2 li{
    list-style: none;
    margin: 10px;
    font-size: 1.4em;
    text-align: left;
    padding: auto;
}

.interest-2 li {
    padding-left: 1.5em;
}

.interest-3 li{
    padding-left: 1.2em;
}

.color-Lan{
    background-color: #E4E4E4;
    color: #484848;
}

.lan-1{
    grid-column: 3/6;
    grid-row: 3/4;
}
.lan-2{
    grid-column: 3/4;
    grid-row: 4/5;
}
.lan-3{
    grid-column: 4/5;
    grid-row: 4/5;
}
.lan-4{
    grid-column: 5/6;
    grid-row: 4/5;
}

.lan-1 h2{
    font-size: 2.2em;
    padding-top: .5em;
    padding-left: 3em;
    text-align: left;
}

.lan-3 li, .lan-2 li, .lan-4 li{
    list-style: none;
    margin: 10px;
    font-size: 1.4em;
    text-align: left;
}

.lan-2{
    padding-left: 3em;
}

/*Portfolio 1*/
#portfolio1{
    padding-top: 6em;
    padding-bottom: 2em;
    display: grid;
    height: min-content;
    background-color: white;
    color: #484848;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    width: 100%;

}

.prot1Text{
    grid-column: 2/4;
    text-align: left;
    margin: auto;
    padding-left: 2em;
}

.prot1Text h1{
    font-size: 3em;
    padding-bottom: .25em;
}

.prot1Text h2{
    font-size: 1.8em;
    padding-bottom: .25em;
    font-family: "Segoe UI","Mamelon", "Agency FB";
    font-weight:500;
}

.prot1Text p{
    font-size: 1.25em;
    padding-top: 1em;;
    padding-bottom: .25em;
    font-family: "Segoe UI","Mamelon", "Agency FB";
    font-weight:500;
}

.portImg{
    grid-column: 4/5;
    margin: auto;
}

/*Portfolio 2*/
#portfolio2{
    padding-top: 6em;
    padding-bottom: 2em;
    background-color: #D4E9E2;
    color: #484848;
    display: grid;
    height: min-content;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    width: 100%;
}

.port2Img{
    grid-column: 2/3;
}

.prot2Text{
    grid-column: 3/5;
    text-align: left;
    margin: auto;
}

.prot2Text h1{
    font-size: 3em;
    padding-bottom: .25em;
}

.prot2Text h2{
    font-size: 1.8em;
    padding-bottom: .25em;
    font-family: "Segoe UI","Mamelon", "Agency FB";
    font-weight:500;
}

.prot2Text p{
    font-size: 1.25em;
    padding-top: 1em;;
    padding-bottom: .25em;
    font-family: "Segoe UI","Mamelon", "Agency FB";
    font-weight:500;
}

/*phoneImg*/
.phoneImg img{
    width: 350px;
    height: 650px;
}

/*Portfolio 3*/
#portfolio3{
    padding: 5em 1em;
    background-color: white;
    color: #484848;
    display: grid;
    height: min-content;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    width: 100%;
}

.port3Text{
    text-align: left;
    grid-column: 2/4;
    margin-left: auto;
    margin-right: auto;
}

.port3Text h1{
    font-size: 3em;
    padding-bottom: .25em;
}

.port3Text h2{
    font-size: 1.8em;
    padding-bottom: .25em;
    font-family: "Segoe UI","Mamelon", "Agency FB";
    font-weight:500;
}

.port3Text p{
    font-size: 1.25em;
    padding-top: 1em;;
    padding-bottom: .25em;
    font-family: "Segoe UI","Mamelon", "Agency FB";
    font-weight:500;
}

.port3Img{
    grid-column: 4/5;
    margin-left: auto;
    margin-right: auto;
}

/*Portfolio 4*/
#portfolio4{
    margin-bottom: 2em;
    padding: 5em 1em;
    background-color: #EEE8DB;
    color: #484848;
    display: grid;
    height: min-content;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    width: 100%;
}

.port4Text{
    text-align: left;
    grid-column: 2/4;
    margin-left: auto;
    margin-right: auto;
}

.port4Text h1{
    font-size: 3em;
    padding-bottom: .25em;
}

.port4Text h2{
    font-size: 1.8em;
    padding-bottom: .25em;
    font-family: "Segoe UI","Mamelon", "Agency FB";
    font-weight:500;
}

.port4Text p{
    font-size: 1.25em;
    padding-top: 1em;;
    padding-bottom: .25em;
    font-family: "Segoe UI","Mamelon", "Agency FB";
    font-weight:500;
}

.port4Img{
    grid-column: 4/5;
    margin-left: auto;
    margin-right: auto;
}

.desktopImg img{
    width: 500px;
    height: 300px;
}

/*Contact page*/
#contactPage{
    margin-bottom: 2em;;
    padding-top: 6em;
    padding-bottom: 6em;
    
    background-color: #fff;
    color: #484848;

    display: grid;
    height: min-content;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    width: 100%;

}

.contactText{
    grid-column: 2/4;
    text-align: left;
    margin: 10px;
    padding-top: 2em;
    padding-left: 1em;
    margin: auto;
}

.contactText h1{
    font-size: 3em;
    padding-bottom: 1em;
}


.contactText h2{
    font-size: 1.3em;
    padding-top: .25em;;
    padding-bottom: .25em;
    font-family: "Mamelon", "Agency FB", "Segoe UI";
    font-weight:500;
}

.contactText figure{
    display: inline-block;
    padding: 30px;
}

.contactImg{
    grid-column: 4/5;
}

.contactImg img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

/* hover effect*/
#contactPage img:hover,
#portfolio1 img:hover,
#portfolio2 img:hover,
#portfolio3 img:hover,
#portfolio4 img:hover,
header img:hover,
footer img:hover{
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
    transition: 2s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


/*footer*/
footer{
	clear: both;
    display: grid;
    height: min-content;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    width: 100%;
}

#footerBox{
    background-color: #405A5B;
    grid-column: 1/6;
    height: 95px;
    margin-bottom: 1.5em;
    width: 100%;
}

footer p {
    display: inline-block;
    text-align: center;
	padding-top: 1.2em;
	padding-bottom: 1.5em;
    color: white;
    font-size: 1.3em;
}

/*code for responsive screen*/
@media screen and (max-width: 1240px) {
    #ahLogo{
        width: 300px;
        height: 300px;
        margin-top: 150px;
    }

    .introductionBox{
        margin-top: 2em;
    }

    .introductionBox h2 {
    font-size: 1.8em;
    padding-top: 1.5em;
    padding-left: 1.5em;
    text-align: left;
    }

    .introductionBox p{
    font-size: 1.2em;
    padding-left: 3em;
    }
    .skill-1 h2{
        font-size: 1.8em;
        padding-left: 1em;
    }
    .skill-2 li, .skill-3 li{
        font-size: 1.2em;
        margin-top: 15px;
    }
    .interest-1 h2{
        font-size: 1.8em;
    }
    .interest-2, .interest-3{
       font-size: 1em;
    }
    .interest-2 li {
        padding-left: 1.2em;
    }

    .lan-1 h2{
        font-size: 1.8em;
        padding-left: 1.2em;
    }

    .lan-3 li, .lan-2 li, .lan-4 li{
        font-size: 1.2em;
        text-align: left;
    }
    
    .lan-2{
        padding-left: 1.7em;
    }

    #portfolio1{
        padding-left: 1.2em;
    }

    .prot1Text h1, .prot2Text h1, 
    .port3Text h1, .port4Text h1,
    .contactText h1{
        font-size: 2.2em;
    }
    
    .prot1Text h2, .prot2Text h2, 
    .port3Text h2, .port4Text h2{
        font-size: 1.5em;
    }
    
    .prot1Text p, .prot2Text p, 
    .port3Text p, .port4Text p{
        font-size: 1em;
    }
    .prot2Text{
        padding-right: 1em;
    }

    .port3Text{
        margin-top: 1em;
    }
    .port4Text{
        margin-left: 2em;
    }

    .phoneImg img{
        width: 320px;
        height: 620px;
    }

    .desktopImg img{
        width: 450px;
        height: 250px;
    }
    .contactText h2{
        font-size: 1.2em;
    }
    .contactText{
        padding-left: 2em;
    }
    .contactImg img{
        width: 300px;
        height: 300px;
        margin-top: 2em;
    }
    
}

@media screen and (max-width: 900px) {
    #ahLogo{
        width: 280px;
        height: 280px;
        margin-top: 170px;
    }

    #greyBoxForHome h1{
        font-size: 2.2em;
    }
    
    #greyBoxForHome h2{
        font-size: 2em;
    }

    .introductionBox p{
        font-size: 1.1em;
    }

    .skill-1 h2{
        font-size: 1.7em;
    }
    .skill-2 li, .skill-3 li{
        font-size: 1.1em;
        margin-top: 15px;
    }

    .interest-1 h2{
        font-size: 1.7em;
    }
    .interest-2, .interest-3{
       font-size: .9em;
    }

    .lan-1 h2{
        font-size: 1.7em;
    }

    .prot1Text h1, .prot2Text h1, 
    .port3Text h1, .port4Text h1,
    .contactText h1{
        font-size: 2.2em;
    }
    
    .prot1Text h2, .prot2Text h2, 
    .port3Text h2, .port4Text h2{
        font-size: 1.2em;
    }
 
    .prot1Text p, .prot2Text p, 
    .port3Text p, .port4Text p{
        font-size: 1em;
    }

    .port3Img{
        grid-column: 4/5;
    }

    .port3Text, .port4Text{
        grid-column: 2/5;
    }

    .phoneImg img{
        width: 300px;
        height: 600px;
    }

    .desktopImg img{
        width: 420px;
        height: 220px;
    }
    .contactText h2{
        font-size: 1.1em;
    }

    .contactImg img{
        width: 280px;
        height: 280px;
    }
    

  }

  @media screen and (max-width: 800px) {

    .contactText h2{
        font-size: 1.1em;
    }

    .contactImg img{
        width: 250px;
        height: 250px;
    }
    .contactImg{
        grid-column: 1/6;
        margin: auto;
    }
    .contactText{
        grid-column: 1/6;
        padding: auto;
        margin: auto;
    }

  }

  @media screen and (max-width: 600px) {
    .navigation li a, header a{
        font-size: 1.2em;
        margin-right: 30px;
    }

    .introductionBox p{
        font-size: 1em;
    }
    .skill-1{
        grid-column: 1 / 2;
    }

    .skill-2{
        grid-column: 2/4;
    }
    
    .skill-3{
        grid-column: 4/6;

    }
    .skill-1 h2{
        font-size: 1.5em;
    }
    .skill-2 li, .skill-3 li{
        font-size: 1em;
        margin-top: 15px;
    }

    .interest-1 h2{
        font-size: 1.5em;
        margin-top: 1em;
    }
    .interest-2, .interest-3{
       font-size: .7em;
    }

    .lan-1 h2{
        font-size: 1.5em;
        margin-top: 1em;
    }

    .lan-3 li, .lan-2 li, .lan-4 li{
        font-size: 1em;
    }

    .prot1Text{
        grid-column: 1/5;
        padding-left: .5em;
    }
    
    .portImg{
        grid-column: 2/5;
        margin: auto;
    }

    .port2Img{
        grid-column: 1/2;
    }

    .prot2Text{
        grid-column: 2/5;
    }
    
    .prot1Text h1, .prot2Text h1, 
    .port3Text h1, .port4Text h1,
    .contactText h1{
        font-size: 1.5em;
    }
    
    .prot1Text h2, .prot2Text h2, 
    .port3Text h2, .port4Text h2{
        font-size: 1em;
    }
 
    .prot1Text p, .prot2Text p, 
    .port3Text p, .port4Text p{
        font-size: .75em;
    }

    .port3Img{
        grid-column: 4/5;
    }

    .port3Text, .port4Text{
        grid-column: 2/5;
        margin-bottom: .5em;
    }

    .phoneImg img{
        width: 280px;
        height: 520px;
    }

    .desktopImg img{
        width: 380px;
        height: 200px;
    }

    .contactText h2{
        font-size: 1.1em;
    }

    .contactImg img{
        width: 250px;
        height: 250px;
    }
    .contactImg{
        grid-column: 1/6;
        margin: auto;
    }
    .contactText{
        grid-column: 1/6;
        padding: auto;
        margin: auto;
    }

  }

  @media screen and (max-width: 500px) {
    .navigation li a, header a{
        font-size: 1em;
    }

    header{
        display: block;
        justify-content:left;
        width: 90%;
    }

    .introductionBox {
        grid-column: 1/6;
        margin-top: 3em;
    }

    .introductionBox h2{
        font-size: 1.5em;
        padding-top: 3em;
    }

    .introductionBox p{
        font-size: .75em;
    }
    .skill-1{
        grid-column: 1 / 6;
        grid-row: 2/3;
    }

    .skill-2{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
    .skill-3{
        grid-column: 3/5;
        grid-row: 3/4;
    }

    .interest-1 h2{
        padding-top: .4em;
        padding-bottom: .5em;
    }


    .interest-1{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .interest-2{
        grid-column: 2/4;
        grid-row: 4/5;
    }
    
    .interest-3{
        grid-column: 4/6;
        grid-row: 4/5;
    }

    .lan-1{
        grid-column: 1/6;
        grid-row: 5/6;
    }
    .lan-2{
        grid-column: 1/3;
        grid-row: 6/7;
    }
    .lan-3{
        grid-column: 3/4;
        grid-row: 6/7;
    }
    .lan-4{
        grid-column: 4/6;
        grid-row: 6/7;
    }

    .lan-1 h2{
        font-size: 1.5em;
        padding-top: .1em;
        padding-bottom: .5em;
    }

    .interest-3 , .interest-2, 
    .lan-3, .lan-2, .lan-4,
    .skill-2, .skill-3{
        padding-bottom: .5em;
    }
    
    .prot1Text{
        grid-column: 1/6;
        padding-left: .5em;
        padding-top: 1em;
    }
    
    .portImg{
        grid-column: 1/6;
        margin: auto;
    }

    .port2Img{
        grid-column: 1/6;
    }

    .prot2Text{
        grid-column: 1/6;
    }
    
    .prot1Text h1, .prot2Text h1, 
    .port3Text h1, .port4Text h1,
    .contactText h1{
        font-size: 1.5em;
    }
    
    .prot1Text h2, .prot2Text h2, 
    .port3Text h2, .port4Text h2{
        font-size: 1em;
    }
 
    .prot1Text p, .prot2Text p, 
    .port3Text p, .port4Text p{
        font-size: .75em;
    }

    .port3Img{
        grid-column: 4/5;
    }

    .port3Text, .port4Text{
        grid-column: 2/5;
        margin-bottom: .5em;
    }

    .phoneImg img{
        width: 280px;
        height: 520px;
    }

    .desktopImg img{
        width: 380px;
        height: 200px;
    }

    .contactText h2{
        font-size: 1.1em;
    }

    .contactImg img{
        width: 250px;
        height: 250px;
    }
    .contactImg{
        grid-column: 1/6;
        margin: auto;
    }
    .contactText{
        grid-column: 1/6;
        padding: auto;
        margin: auto;
    }

    .contactText figure{
        display: inline-block;
        padding: 20px;
    }

}


@media screen and (max-width: 400px) {
    #ahLogo{
        width: 200px;
        height: 200px;
    }

    .phoneImg img{
        width: 250px;
        height: 450px;
    }

    .desktopImg img{
        width: 300px;
        height: 160px;
    }

    .contactText h2{
        font-size: 1em;
    }

    .contactImg img{
        width: 250px;
        height: 250px;
    }
    .contactImg{
        grid-column: 1/6;
        margin: auto;
    }
    .contactText{
        grid-column: 1/6;
        padding: auto;
        margin: auto;
    }

    .contactText figure{
        display: inline-block;
        padding: 10px;
    }

}